html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-size: 1rem;
  color: #323232;
  background-color: #bebebe;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
    "left center right"
    ". center .";
}

nav {
  background-color: #bd027d;
  grid-row: 1;
  grid-column: 1/-1;
}

nav ul {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1.5rem 1rem;
}

nav a {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #eccee2;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em .8em;
  border: 2px solid #960062;
  border-radius: 6px;
}

nav a:hover {
  background-color: #960062;
}

header h1 {
  margin: 0;
  grid-area: center;
  z-index: 1;
}

img {
  width: 100%;
  display: block;
}

main {
  padding: 0 1rem;
}

main p {
  margin: 1.5rem 0;
  font-size: 1.125rem;
}

section h2 {
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0 0 1.5rem;
}

section {
  border-bottom: 2px solid #afafaf;
  border-top: 2px solid #afafaf;
  padding: 1.5rem 0;
}

section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

section ul li {
  background-color: #ccc;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
  border: 2px solid #afafaf;
  border-radius: 6px;
}

section ul li h3 {
  grid-area: bottom;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.125rem;
  text-align: center;
  padding: .5em;
  z-index: 1;
  background-color: #afafaf;
  opacity: .9;
}

section ul li img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 0 0 1rem;
}

section ul li div {
  display: flex;
  grid-area: top;
  flex-direction: row-reverse;
  justify-self: end;
  align-items: center;
  border-radius: 1em 0 0 1em;
  margin-top: .5em;
  font-style: italic;
  background-color: #afafaf;
  padding: 0 .5em;
  z-index: 1;
}

div img {
  margin: 0 .5em;
  width: 1em;
  height: 1em;
}

div strong {
  font-weight: normal;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: .875rem;
}

footer a {
  color: #000;
}
