html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-size: 0.875rem;
  color: #000;
  background-color: #bebebe;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #bd027d;
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
  "left center right"
  ". center ."
}

nav {
  grid-row: 1;
  grid-column: 1/-1;
}

nav ul {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1.5rem 1rem;
}

nav a {
  font-family: "PT Sans Narrow";
  font-size: 1.125rem;
  color: #eccee2;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em .8em;
  border: 2px solid #960062;
  border-radius: 6px;
}

nav a:hover {
  background-color: #960062;
}

header h1 {
  margin: 0;
  grid-area: center;
  z-index: 1;
}

img {
  width: 100%;
  display: block;
}

main {
  padding: 0 1rem;
}

main p {
  margin: 0 0 1.5rem;
  font-size: 1.125rem;
}

section h2 {
  font-family: "PT Sans Narrow";
}
section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section ul li div {
  display: flex;
}
List items inside section will have a display grid as items are on top of each other, columns will be 1 and in this you will need to assign areas so that items inside the sections are properly distributed
